body {
    padding: 0;
    margin: 0;
    background-image: url("imgs/composite");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
.hero {
    /* the 'vh' unit asks the browser to */
    /* return the height of the viewport */
    /* we can then use that to set the height of an element */
    /* as a percentage of the viewport height (vh) */
    height: 100vh;
    min-height: 740px;
    margin: auto;
    background-image: url("imgs/composite.JPG");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .8);
}
.hero .title {
    font-size: 22pt;
    color: #fff;
    float: inherit;
    min-height: inherit;
    margin-top: 170px;
    margin-left: 6em;
    margin-right: 6em;
    padding: 2em;
    text-align: center;
    background-image: url("imgs/Dogs.JPG");
    background-position: center;
    background-repeat: no-repeat;
      background-size: cover;
}

.title h1 {
    font-size: 2.5em;
    letter-spacing: 0.2em;
}
